# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Sequelize migrations and seeders
migrations/
seeders/

# Build output
dist/
build/

# IDE and editor specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
